<header class="cabecalho">
    <div class="container-fluid mt-4">
        <div class=" container d-flex justify-content-between align-items-center">
            <div class="logo">
                <img src="../assets/img/logo.png" alt="">
            </div>
            <div class="menu">
                <ul>
                    <li><a class="nav-link" href="">Premium</a></li>
                    <li><a class="nav-link" href="">Ajuda</a></li>
                    <li><a class="nav-link" href="">Baixar</a></li>
                    <li><a class="nav-link" href="">Inscreva-se</a></li>
                    <li><a class="nav-link" href="">Entrar</a></li>
                </ul>
            </div>
        </div>
        <div class="">
            <img class="pessoa" src="../assets/img/premium_dancer.png" alt="">
        </div>
        <div class="conteudo container d-flex justify-content-between align-items-start">
            <h1>Aproveite 1 mês grátis de Premium</h1>
        </div>
        <div class="conteudo container d-flex justify-content-between align-items-start">
            <h3>Depois, apenas R$ 16,90/mês. Cancele quando quiser.</h3>
        </div>
        <div class="conteudo container d-flex justify-content-between align-items-start mt-2">
            <button type="button" class="btn btn-success">VER PLANOS</button>
        </div>
        <div class="conteudo container d-flex justify-content-between align-items-start py-3">
            <p>São aplicáveis termos e condições. O mês grátis não está disponível para usuários que já experimentaram o Premium</p>
        </div>
    </div>
</header>

<div class="container-fluid mt-4">
    <div class="container d-flex justify-content-center align-items-center">
        <h1>Porque virar premium?</h1>
    </div>
    <div class="container d-flex justify-content-center align-items-center text-center">
        <div>
            <img class="imagem" src="../assets/img/benefit_1.png " alt=" ">
            <p class="px-3 "><b>Baixe suas musicas.</b></p>
            <p class="linha px-3 ">Ouça de onde quiser.</p>
        </div>
        <div>
            <img class="imagem " src="../assets/img/Benefit_2.png " alt=" ">
            <p class="px-3 "> <b>Sem anúncios para interromper.</b></p>
            <p class="linha px-3 ">Ouça música sem parar.</p>
        </div>
        <div>
            <img class="imagem " src="../assets/img/benefit_3.png " alt=" ">
            <p class="px-3 "> <b>Ouça qualquer música.</b></p>
            <p class="linha px-3">Mesmo no celular ou tablet.</p>
        </div>
        <div>
            <img class="imagem " src="../assets/img/benefit_4.png " alt=" ">
            <p class="px-3"> <b>Pule quantas faixas quiser.</b></p>
            <p class="linha px-3 ">Ouça só as que você curtir.</p>
        </div>
    </div>
</div>

<div class="planos container-fluid mt-4">
    <div class="container d-flex justify-content-center align-items-center plano-title">
        <h1>Escolha seu plano Premium</h1>
    </div>
    <div class="container d-flex justify-content-center align-items-center plano-subtitle">
        <p>Ouça sem limites no seu celular, alto-falante e em outros dispositivos</p>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card">
            <button type="button" class="btn btn-primary mb-3 botao">1 mês grátis</button>
            <h5 class="ms-3">Individual</h5>
            <p>R$ 16,90/mês após o período de entrega</p>
            <p>1 conta</p>
            <hr>
            <ul>
                <li>Curta música sem <br> anúncios</li>
                <li>Ouça em qualquer lugar <br> até offline</li>
                <li>Toque o que quiser</li>
                <li>Pague adiantado ou faça <br> uma assinatura</li>
            </ul>
            <div class="footer-card1">
                <button type="button" class="btn btn-success comecar">Começar</button>
                <p>São aplicações termos e condições. O mês grátis não está disponível para usuários que já <br> experimentaram o Premium</p>
            </div>
        </div>
        <div class="card">
            <button type="button" class="btn btn-primary mb-3 botao">1 mês grátis</button>
            <h5 class="ms-3">Duo</h5>
            <p>R$ 21,90/mês após o período de entrega</p>
            <p>2 contas</p>
            <hr>
            <ul>
                <li>2 contas Premium para <br> um casal que mora junto</li>
                <li>Duo Mix: uma playlist só <br> pra vocês, atualizada <br> regularmente com músicas <br> que os dois gostam</li>
                <li>Ouça sem anúncio, no <br> modo offline e sob demanda</li>
            </ul>
            <div class="footer-card2">
                <button type="button" class="btn btn-success comecar">Começar</button>
                <p>São aplicações termos e condições. O mês grátis não está disponível para usuários que já <br> experimentaram o Premium</p>
            </div>
        </div>
        <div class="card">
            <button type="button" class="btn btn-primary mb-3 botao">1 mês grátis</button>
            <h5 class="ms-3">Família</h5>
            <p>R$ 26,90/mês após o período de entrega</p>
            <p>6 contas</p>
            <hr>
            <ul>
                <li>6 contas Premium para <br> familiares que moram no <br> no mesmo endereço</li>
                <li>Family Mix: uma playlist <br> pra familia, atualizada <br> regularmente com músicas <br> que todo mundo gosta</li>
                <li>Bloqueia música explícita</li>
                <li>Ouça sem anúncio, no <br> modo offline e sob demanda</li>
                <li>Pague adiantado ou faça <br> uma assinatura</li>
            </ul>
            <div class="footer-card3">
                <button type="button" class="btn btn-success comecar">Começar</button>
                <p>São aplicações termos e condições. O mês grátis não está disponível para usuários que já <br> experimentaram o Premium</p>
            </div>
        </div>
        <div class="card">
            <button type="button" class="btn btn-primary mb-3 botao">1 mês grátis</button>
            <h5 class="ms-3">Universitário</h5>
            <p>R$ 8,50/mês após o período de entrega</p>
            <p>1 conta</p>
            <hr>
            <ul>
                <li>Desconto especial para <br> estudantes universitários <br> que tenham direito à oferta</li>
                <li>Curta música sem <br> anúncios</li>
                <li>Ouça em qualquer lugar <br> até offline</li>
                <li>To que o que quiser</li>
            </ul>
            <div class="footer-card4">
                <button type="button" class="btn btn-success comecar">Começar</button>
                <p>São aplicações termos e condições. O mês grátis não está disponível para usuários que já <br> experimentaram o Premium</p>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container-fluid">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="info">
                <ul>
                    <li><a class="nav-link" href="">Legal</a></li>
                    <li><a class="nav-link" href="">Cookies</a></li>
                    <li><a class="nav-link" href="">Sobre anúncios</a></li>
                </ul>
            </div>
            <div class="brasil1">
                <p class="brasil">Brasil</p>
                <p class="spotifau">@ Spotifau AB</p>
            </div>
        </div>
    </div>
</div>